ul:focus {
    outline: none;
}
.card-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #f7f7f7;
}
.tab-content {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 54px;
}
.select-file-container {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125)
}
.select-file {
    margin: 15px 15px 5px;
}
.select-file-message {
    padding: 4px 15px;
    font-size: 11px;
    white-space: nowrap;
}
.img-container {
    margin: 20px 0 0 0;
}
.img-container-item {
    display: inline-block;
    margin-left: 10px;
    margin-bottom:10px;
}
.img-container-item .custom-checkbox {
    margin-right: 0;
    padding-left: 0;
}
.img-container-item input[type=checkbox] {
    display: none;
}
.img-container-item .custom-checkbox > label::before,
.img-container-item .custom-checkbox > label::after {
    top: 8px !important;
    right: 8px !important;
    left: initial !important;
    z-index: 100;
}
.img-thumbnail {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-height: 110px;
}
.img-blur {
    opacity:0.5;
}
.selected.img-container-item .img-thumbnail,
.img-container-item:hover > .img-thumbnail {
    border-color: #007bff;
}
.select-file,
.img-container-item .img-thumbnail {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
