ul:focus {
    outline: none;
}
.card-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #f7f7f7;
}
.tab-content {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 54px;
}
.select-file-container {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125)
}
.select-file {
    margin: 15px 15px 5px;
}
.select-file-message {
    padding: 4px 15px;
    font-size: 11px;
    white-space: nowrap;
}
.img-container {
    margin: 20px 0 0 0;
}
.img-container-item {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-bottom:10px;
}
.img-container-item > label {
    margin-bottom: 0;
}
.img-container-item .custom-control {
    position: absolute;
    display: none;
    top: 6px;
    right: 23px;
    padding-left: 0;
}
.img-container-item.selected .custom-control {
    display: initial;
}
.custom-control-label::before,
.custom-control-label::after {
    left: initial !important;
    cursor: pointer !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") !important;
    color: #fff !important;
    background-color: #007bff !important;
}
.img-thumbnail {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-height: 110px;
}
.img-blur {
    opacity:0.5;
}
.img-container-item.selected > label > .img-thumbnail,
.img-container-item:hover > label > .img-thumbnail {
    border-color: #007bff;
}
.select-file,
.img-container-item .img-thumbnail {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
